{% from "macros.html" import st_nav_bar with context %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>StockTracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

{{ st_nav_bar() }}

<div class="jumbotron text-center">
    <h1>StockTracker</h1>
    <p>¡La decisión de compraventa nunca ha sido tan fácil!</p>
</div>

<div class="container">
    <div class="row">
        <aside class="col-sm-4">
        </aside>

        <aside class="col-sm-4">

            <div class="card">
                <article class="card-body">
                    <a href="" class="float-right btn btn-outline-primary">Registrarse</a>
                    <h4 class="card-title mb-4 mt-1">Ingresar</h4>
                    <form>
                        <div class="form-group">
                            <label>Email</label>
                            <input name="" class="form-control" placeholder="" type="email">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input class="form-control" placeholder="" type="password">
                        </div> <!-- form-group// -->
                        <div class="form-group">

                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                        </div> <!-- form-group// -->
                        <p class="text-center"><a href="#">Olvidé mi contraseña</a></p>
                    </form>
                </article>
            </div> <!-- card.// -->

        </aside> <!-- col.// -->

        <aside class="col-sm-4">
        </aside>
    </div> <!-- row.// -->

</div>
<!--container end.//-->

</body>
</html>
